<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">

        <h2 class="footer-heading">Contact me</h2>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li>If you want, you can contact me at:</li>
            
                    {%- if site.email -%}
                        <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                    {%- endif -%}

                    <li>Or you can follow me at one of my social medias:</li>

                    <li>{%- include social.html -%}</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
